<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="globalMessagePopup">
    <div hidden
         id="global-popup-message"
         th:attr="data-message=${message}"
         th:if="${message}">
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const popup = document.getElementById('global-popup-message');
            if (popup) {
                const message = popup.dataset.message;
                if (message) {
                    alert(message);
                }
            }
        });
    </script>
</div>
</body>
</html>